<header>
  <div class="header">
    <nav>
      <a class="navbar-brand logo" [routerLink]="['/']">Luiz<span class="yellow-dot">.</span></a>
      <ul>
        <li [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/counter']">Counter</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/fetch-data']">Fetch data</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
