@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <p>Hello there, <span class="auto-type"></span></p>
    </div>
</div>
