@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var aboutme = @"I'm a full stack developer with more than 10 years on IT, currently based on Quebec/CA where I work 100% remote for a Montreal's ecommerce company.<br/>
                During this period, I've worked with C# and VB .NET, Angular, Sharepoint, DataBases, PHP and others.<br/>
                I also have accumulated a good knowledge on project management and agile methodologies.<br/>
                Even so, I always say that I'm still learning, so I can keep improving myself.<br/>
                Would you like to get to know more, leave a message or take a look at my complete profile.";
    var message = string.Empty;
    if (DateTime.Now.Hour >= 5 && DateTime.Now.Hour <= 12)
    {
        message = "Good morning,";
    }
    else if (DateTime.Now.Hour > 12 && DateTime.Now.Hour <= 18)
    {
        message = "Good afternoon,";
    }
    else
    {
        message = "Good evening,";
    }
}

<div class="row default-padding">
    <h1 class="display-4">@message my name is Luiz Araujo</h1>
    <div class="container">
        <p><span class="auto-type"></span></p>
    </div>
    <div class="row default-padding">
        <h2 class="display-4">About me</h2>
    </div>

    <p>@Html.Raw(aboutme)</p>
</div>
