html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin-bottom: 60px;
    background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        margin: 0 5px;
    }

.default-padding {
    padding-top: 100px;
}

.img-logo {
    max-height: 45px;
    float: left;
}

.nav-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-left: 10px;
    letter-spacing: 5px;
}


.nav-item {
    position: relative;
    text-decoration: none;
    padding: 0 1px;
}

.nav-item:hover {
    color: #1e293b;
}

.nav-item:after {
    content: "";
    position: absolute;
    background-color: #1e293b;
    height: 1px;
    width: 0;
    bottom: -5px;
    transition: 0.3s;
    left: 0;
}

.nav-item:hover:after {
    width: 100%;
}

.resume {
    background-color: #1e293b;
    border: solid 2px #e2e8f0;
    border-radius: 10px;
    color: #fff !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

    .resume:hover {
        background-color: #fff;
        color: #0d172a !important;
    }

.styled-link {
    position: relative;
    text-decoration: none;
    color: #a5a5a5;
    padding: 0 5px;
}

    .styled-link:hover {
        color: #1e293b;
    }

    .styled-link:after {
        content: "";
        position: absolute;
        background-color: #1e293b;
        height: 1px;
        width: 0;
        bottom: -5px;
        transition: 0.3s;
        left: 0;
    }

    .styled-link:hover:after {
        width: 100%;
    }

.home-main-header {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    width: 70%;
    margin: auto;
}

.img-content {
    align-content: center;
    max-height: 260px;
    width: auto;
}

.content-text-right {
    align-content: start;
    text-align: left;
}

.content-image-left {
    align-content: center;
}

.after-padding {
    padding: 10%;
}
    .after-padding hr {
        border: 0;
        border-radius: 10px;
    }

.min-content-height {
    min-height: 250px;
    align-content: center;
    border-radius:10px;
}
