html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin-bottom: 60px;
}

nav ul {
    float:right;
    margin-right:20px;
}

    nav ul li {
        display:inline-block;
        margin: 0 5px;
    }

.default-padding {
    padding-top: 90px;
}

.img-logo {
    max-height:45px;
    float:left;
}

.nav-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:35px;
    padding-left:10px;
    letter-spacing:5px;
}